.titulo{
    text-align: center;
    color: #2271D1;
    font-size: 6rem;
    margin: 1.5rem 0;
}
@media(max-width:576px){
    .titulo{
        font-size: 2rem;
    }
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.button{
    padding: 0.8rem 3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.buttonSave{
    color: #2271D1;
    border: 2px solid #2271D1;
}
.buttonClear{
    border: 2px solid #FFFFFF;;
    color: #FFFFFF;
}
.buttonSave:hover{
    background-color: #FFFFFF;
}
.buttonClear:hover{
    background-color: #2271D1;
}