/*Estilos barra navegacion movil*/
.navbar-link-mobile {
    color: #00f;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 2rem;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border: 2px solid #00f;
}
.navbar-link-mobile i {
    margin-right: 8px;
    color: #00f;
}
  .navbar-link-mobile:hover {
    background-color: #333;
}
.nav-more{
    position: relative;
}
.menu-button {
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
    outline: none;
  }
.menu-dropdown {
    position: absolute;
    top: -10rem;
    right: 0;
    background-color: #121212;
    border: 1px solid #6BD1FF;
    border-radius: 1rem;
    margin-top: 0.5rem;
    z-index: 1;
}
.menu-item {
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #00f;
  }
  
  .menu-item:hover {
    background-color: #333;
  }